/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #8675a9;
}

h1 {
  font-style: italic;
  color: #ffc1f3;
  text-align: center;
}

h2 {
  margin-top: 2em; 
  text-align: center;
  color: #ffc1f3;
}

.question {
  display: flex;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  
.answer-choice img {
  height: 10em;
}

.Pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.retake {
  display: flex;
  justify-content: center;
}